.content{
    display: flex;
}

.left {
    background-color: #0ea5e9;
    margin-left: -8px;
    color: aliceblue;
}

input {
    border-radius: 9px;
}
.user-profile {
    width: 100px;
}

.firstLevel {
    display: flex;
}

a:link {
    text-decoration: none;
}

li h3 {
    color: aliceblue;
}

img {
    width: 25px;
    height: 20px;
}

.right {
margin-left: 20px;
}

.sidebar {
    width: 130px;
    overflow-x: hidden;
    padding: 8px 0;
}

.dasboard {
    display: flex;
}

ul li {
    list-style-type: none;
}

.main {
    display: flex;
    background-color: rgb(232, 242, 245);
    margin-left: -10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.item {
    background-color: white;
    text-align: center;
    border-left: 7px solid orange;
    border-radius: 8px;
}
